@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  font-family: Pretendard;
  white-space: pre-wrap;
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-size: calc(16vw / 440 * 100);
}

@media (min-width: 440px) {
  html {
    font-size: 16px;
  }
}